.App {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
font-family: 'Rubik', sans-serif;
background: linear-gradient(80deg, rgba(253,29,105,1) 0%, rgba(180,58,157,1) 54%, rgba(204,69,252,1) 96%);
}
