.Joke {
    margin-top: .8%;
    margin-left: 2%;
    text-align: center;
    width: 80%;
    font-size: larger;
    border: 1px solid;
    border-radius: 5px;
    width: 75%;
}
.Joke button{
    border: none;
    position: relative;
    right: 45%;
    top: 1.1rem;
}
.Joke-rate{
    position: relative;
    left: 19em;
    top: 1.1rem;;
    display: inline;
}